<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li>Home</li>
        <li>About Us</li>
        <li><a href="{% url 'bookticket' %}">Book </a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout </a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login </a></li>
        {% endif %}
      </ul> 
    </div>
  </body>
</html>
