{% extends 'main.html' %}

{% block content %}
<table border='1'>
    <tr>
        <th>S.no</th>
        <th>Movie Name</th>
        <th>Booked By</th>
        <th>Date</th>
        <th>Time</th>
        <th>Seat No</th>
        <th>Amount Paid</th>
        <th>Change </th>
        <th>Delete </th>
    </tr>
{% for item in data %}
<tr>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.username}}</td>
    <td>{{item.date}}</td>
    <td>{{item.time}}</td>
    <td>{{item.seats}}</td>
    <td>{{item.payment}}</td>
    <td><a href="{% url 'changeticket' item.id %}">Change ticket</a>
        <td><a href="{% url 'deleteticket' item.id %}">Delete ticket</a>
</tr>
{% endfor %}
</table>



</ul>
{% endblock content %}